# =========================
# RMS SEED CONFIG
# =========================
DB_HOST=localhost
DB_PORT=<YOURDATABASEPORT>                  # same as SSH_LOCAL_PORT
DB_NAME=<YOURDATABASENAME>
DB_USER=<YOURDATABASEUSERNAME>
DB_PASSWORD=<YOURDATABASEPASSWORD>

# Base lookup tables
EMPLOYEE_TYPES_COUNT=5
ORDER_TYPES_COUNT=3
ORDER_STATUS_COUNT=3
MENU_TYPES_COUNT=8
PRODUCT_TYPES_COUNT=4
UNIT_TYPES_COUNT=3
CHANGE_TYPES_COUNT=6
TABLE_TYPES_COUNT=3
MENU_MEMBER_TYPES_COUNT=3

# Core data
EMPLOYEE_COUNT=200
PRODUCT_COUNT=100
UNIT_COUNT=4
RESTAURANT_TABLE_COUNT=150
# Business data
MENU_COUNT=8
MENU_ITEMS_PER_MENU=10
ORDERS_COUNT=100
ORDER_ITEMS_PER_ORDER=5

# Faker control
USE_FAKE_DATA=true
